@import './main.css';

.principal{
    display: flex;
    flex-direction: column;
    align-items: center;
    background: url(../assets/images/fundo-q-02.png) no-repeat center center;
    background-size: contain;
}
.question{
    max-width: 800px;
    text-align: center;
    margin-top: 20px;
}
.question__title{
    font-family: var(--font-title);
    color: black;
    background-color: var(--yellow);
    text-transform: uppercase;
    text-align: center;
    margin: 10px;
    border-radius: 15px;
    font-size: 2em;
    padding: 5px;
}
.question__subtitle{
    font-family: var(--font-title);
    background-color: var(--yellow);
    text-transform: uppercase;
    text-align: center;
    margin: 10px;
    border-radius: 15px;
    padding: 5px;
}
.options{
    display: flex;
    justify-content: center;
    align-items: center;
}
.options__image{
    width: 400px;
}
.options__form{
    display: flex;
    flex-direction: column;
}
.options__form__label{
    margin: 5px;
}
.options__buttons{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.option__button.selected {
    border:2px solid var(--green); 
}
.options__buttons__p{
    font-family: var(--font-title);
    margin-bottom: 20px;
    text-align: center;
    font-size: 1.2em;
}
.option__button{
    font-family: var(--font-text);
    text-transform: uppercase;
    width: 250px;
    height: 70px;
    border: none;
    border-radius: 50px;
    background-color: var(--yellow);
    margin-top: 5px;
    font-size: 1.5em;
    cursor: pointer;
}
.options__submit{
    font-family: var(--font-text);
    text-transform: uppercase;
    width: 300px;
    height: 70px;
    border: none;
    border-radius: 50px;
    background-color: var(--blue);
    font-size: 1.8em;
    cursor: pointer;
    margin-top: 20px;
}
.options__submit:hover{
    background-color: var(--green);
}
dialog{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: none;
    border-radius: 25px;
    padding: 10px;
}
.modal{
    width: 300px;
    height: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.close{
    align-self: flex-end;
    width: 35px;
    height: 35px;
    border: 1px solid black;
    background-color: var(--yellow);
    border-radius: 50%;
    cursor: pointer;
}
.modal__message{
    font-family: var(--font-title);
    font-size: 1.2em;
    text-align: center;
    margin-top: 20px;
}
.modal__button{
    font-family: var(--font-title);
    text-transform: uppercase;
    width: 180px;
    height: 50px;
    border: none;
    border-radius: 50px;
    background-color: var(--yellow);
    margin-top: 5px;
    font-size: 1.2em;
    cursor: pointer;
    margin-top: 20px;
}
.modal__button:hover{
    border: 2px solid var(--green);
}

@media (max-width: 600px){
    .options__image{
        width: 250px;
    }
    .option__button{
        width: 150px;
        height: 50px;
    }
    .options__submit{
        width: 200px;
        height: 70px;
    }
}
@media (max-width: 400px){
    .options__image{
        width: 200px;
    }
    .option__button{
        width: 120px;
        height: 40px;
    }
    .options__submit{
        width: 150px;
        height: 50px;
    }
}